#mainHeader {
    background-color: rgb(144, 182, 244);
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#tableHeader {
    background-color: none;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: brown;
}